@model SI2Proy.Models.Inventario

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Inventario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaldoPro" class="control-label"></label>
                <input asp-for="SaldoPro" class="form-control" />
                <span asp-validation-for="SaldoPro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PedirQ" class="control-label"></label>
                <input asp-for="PedirQ" class="form-control" />
                <span asp-validation-for="PedirQ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockMaximo" class="control-label"></label>
                <input asp-for="StockMaximo" class="form-control" />
                <span asp-validation-for="StockMaximo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockComprometido" class="control-label"></label>
                <input asp-for="StockComprometido" class="form-control" />
                <span asp-validation-for="StockComprometido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaStockComprometido" class="control-label"></label>
                <input asp-for="FechaStockComprometido" class="form-control" />
                <span asp-validation-for="FechaStockComprometido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgregadoFk" class="control-label"></label>
                <select asp-for="AgregadoFk" class ="form-control" asp-items="ViewBag.AgregadoFk"></select>
            </div>
            <div class="form-group">
                <label asp-for="Digitador" class="control-label"></label>
                <input asp-for="Digitador" class="form-control" />
                <span asp-validation-for="Digitador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDigitador" class="control-label"></label>
                <input asp-for="FechaDigitador" class="form-control" />
                <span asp-validation-for="FechaDigitador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
