@model SI2Proy.Models.OrdenAprovisionamiento
@{
    ViewData["Title"] = "Aprobar";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div>

    <h1>Entregar Orden</h1>
    <form asp-action="EstadoEntregado">
        <div class="col-md-4">
            <div class="form-group">
                <input type="hidden" asp-for="NumeroOrdenAprovisionamiento" />
            </div>
        </div>


        <div>
            <input type="submit" value="Entregar Orden" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>


</div>