@model SI2Proy.Models.MovimientoInventario

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>MovimientoInventario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodMovimientoInventario" />
            <div class="form-group">
                <label asp-for="TipoMovimiento" class="control-label"></label>
                <input asp-for="TipoMovimiento" class="form-control" />
                <span asp-validation-for="TipoMovimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaMovimiento" class="control-label"></label>
                <input asp-for="FechaMovimiento" class="form-control" />
                <span asp-validation-for="FechaMovimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Factura" class="control-label"></label>
                <input asp-for="Factura" class="form-control" />
                <span asp-validation-for="Factura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioUnitario" class="control-label"></label>
                <input asp-for="PrecioUnitario" class="form-control" />
                <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacion" class="control-label"></label>
                <input asp-for="Observacion" class="form-control" />
                <span asp-validation-for="Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InventarioFk" class="control-label"></label>
                <select asp-for="InventarioFk" class="form-control" asp-items="ViewBag.InventarioFk"></select>
                <span asp-validation-for="InventarioFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProveedorFk" class="control-label"></label>
                <select asp-for="ProveedorFk" class="form-control" asp-items="ViewBag.ProveedorFk"></select>
                <span asp-validation-for="ProveedorFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrdenAprovisionamientoFk" class="control-label"></label>
                <select asp-for="OrdenAprovisionamientoFk" class="form-control" asp-items="ViewBag.OrdenAprovisionamientoFk"></select>
                <span asp-validation-for="OrdenAprovisionamientoFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Digitador" class="control-label"></label>
                <input asp-for="Digitador" class="form-control" />
                <span asp-validation-for="Digitador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDigitador" class="control-label"></label>
                <input asp-for="FechaDigitador" class="form-control" />
                <span asp-validation-for="FechaDigitador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
