@model SI2Proy.Models.Vendedor

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Vendedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NumeroVendedor" />
            <div class="form-group">
                <label asp-for="NumeroCedula" class="control-label"></label>
                <input asp-for="NumeroCedula" class="form-control" />
                <span asp-validation-for="NumeroCedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroRuc" class="control-label"></label>
                <input asp-for="NumeroRuc" class="form-control" />
                <span asp-validation-for="NumeroRuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreVendedor" class="control-label"></label>
                <input asp-for="NombreVendedor" class="form-control" />
                <span asp-validation-for="NombreVendedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoCelular" class="control-label"></label>
                <input asp-for="TelefonoCelular" class="form-control" />
                <span asp-validation-for="TelefonoCelular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
